<h2 class="text-info">People involved in this project</h2>
<h4 class="text-info">
  Developer team
</h4>
<a href="https://www.linkedin.com/in/marc-ribalta-gene-240a2b140/">
  Marc Ribalta Gené
</a>
<br>
<a href="https://www.linkedin.com/in/roger-arqu%C3%A9s-vall-359669138/">
  Roger Arqués Vall
</a>
<br>
<br>
<h4 class="text-info">
 Genetics&amp;Biodiversity research team
</h4>
<p>
 Institute of Biomedical Research of Lleida (IRBLleida), University of Lleida, Lleida, Catalonia, Spain
 <br/>
 Neus Oromí
 <br/>
 Mariona Pascual-Pons
 <br/>
 José Luis Royo
 <br/>
 Joan Fibla
</p>
<p>
 Gesna Estudis Ambientals, S.L., Linyola, Lleida, Catalonia, Spain
 <br/>
 Rafael Rocaspana
</p>
<p>
 GRECO, Institute of Aquatic Ecology, University of Girona, Girona, Catalonia, Spain
 <br/>
 Enric Aparicio
</p>
<p>
 Environment and Soil Sciences Department. ETSEA, University of Lleida, Lleida, Catalonia, Spain
 <br/>
 Antoni Palau
</p>
<p>
 Animal Science Department, ETSEA, University of Lleida, Lleida, Catalonia, Spain
 <br/>
 Delfi Sanuy
 <br/>
 Marc Fibla
</p>
<p>
 Corresponding author:
</p>
<p>
 Joan Fibla
 <br/>
 Departament de Ciències Mèdiques Bàsiques
 <br/>
 Universitat de Lleida-IRBLLEIDA
 <br/>
 Campus de Ciències de la Salut
 <br/>
 Edifici Biomedicina I
 <br/>
 Av. Rovira Roure, 80
 <br/>
 25198 LLEIDA
</p>
<h4 class="text-info">
  GRIHO research group, University of Lleida
</h4>
<p>
  Web application project supervisor:
</p>
<a href="http://griho.udl.cat/about/members/oliva-marta.html">
  Marta Oliva
</a>
<br>
<br>
<p>Helping with the architecture and back-end design:</p>
<a href="http://griho.udl.cat/about/members/gimeno-joan.html">
  Juan Manuel Gimeno
</a>
<br>
<br>
<p>Helping with the deployment and framework problems:</p>
<a href="http://griho.udl.cat/about/members/garcia-roberto.html">
  Roberto García
</a>
<br>
<br>
<p>Helping with the web usability:</p>
<a href="http://griho.udl.cat/about/members/granollers-toni.html">
  Toni Granollers i Saltiveri
</a>
<br>
<br>
<a href="http://griho.udl.cat/about/members/">
  All GRIHO members
</a>
