<div class="panel panel-primary">
  <div class="panel-heading">
    <div>{{family.interproId}}</div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <h4>Family description: {{family.description}}</h4>
    </div>
  </div>
  <div class="panel-footer">
    <p *ngIf="!edited" id="family" class="text-info">Waiting for any sequences to be received...</p>
    <div *ngIf="edited" class="col-md-12">
      <h4>{ page.totalElements, plural,
        =0 {There are no sequences with this family}
        =1 {There is 1 sequence with this family}
        other { There are {{page.totalElements}} sequences with this family} }</h4>
    </div>
    <nav *ngIf="edited" aria-label="Page navigation" class="col-md-6">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link btn" (click)="rePage(page.pageIndex - 1)"
             *ngIf="page.pageIndex != 1" tabindex="-1">Previous</a>
          <a class="page-link btn disabled" (click)="rePage(page.pageIndex - 1)"
             *ngIf="page.pageIndex == 1" tabindex="-1">Previous</a>
        </li>
        <ng-container *ngFor="let position of positions">
          <li class="page-item active" *ngIf="position == page.pageIndex"><a class="page-link" (click)="rePage(position)">{{position}}</a>
          </li>
          <li class="page-item" *ngIf="position != page.pageIndex">
            <a class="page-link btn" (click)="rePage(position)">{{position}}</a>
          </li>
        </ng-container>
        <li class="page-item">
          <a class="page-link btn" (click)="rePage(page.pageIndex + 1)"
             *ngIf="page.pageIndex != page.totalPages">Next</a>
          <a class="page-link btn disabled" (click)="rePage(page.pageIndex + 1)"
             *ngIf="page.pageIndex == page.totalPages">Next</a>
        </li>
      </ul>
    </nav>
    <div class="col-md-6">
      <button id="sequence-download" type="button" (click)="onDownload()"
              class="btn btn-primary">Download them as a fasta file
      </button>
    </div>
    <div *ngIf="edited" class="row">
      <div class="panel-group col-md-12">
        <div class="panel panel-default" *ngFor="let sequence of page.listOfElements">
          <div class="panel-body">
            <div class="col-md-4">
              <h4>Sequence: <a routerLink="/sequences/{{sequence.trinityId}}/{{sequence.experiment}}">{{sequence.trinityId}}</a></h4>
            </div>
            <div class="col-md-4">
              <h5>Experiment: {{sequence.experiment}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
