<h2>Query sequences using the Trinity ID</h2>

<div class="col-md-12">
<form id="trinity-form" [formGroup]="trinityForm" (ngSubmit)="onSubmit()">
  <fieldset>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-3 control-label" for="trinity-id">Trinity ID</label>
      <input id="trinity-id" type="text" class="form-control input-md"
             [formControl]="trinityForm.controls['trinity-id']"
             [(ngModel)]="trinityId"/>
    </div>

    <div *ngIf="errorMessage" class="form-group row">
      <div class="col-md-3"></div>
      <div class="label-danger col-md-9">{{ errorMessage }}</div>
    </div>

    <!-- Button -->
    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <button id="submit-trinity-id" type="submit"
                class="btn btn-success pull-right">Submit
        </button>
      </div>
    </div>

  </fieldset>
</form>
<div *ngIf="!edited">
  <p class="text-info">The queries will be done with a "like", you do not need to give the exact trinity ID</p>
</div>
</div>

<div *ngIf="edited">
  <div class="col-md-6">
    <h4>{ page.totalElements, plural,
      =0 {There are no sequences with this transcript}
      =1 {There is 1 sequence with this transcript}
      other { There are {{page.totalElements}} sequences with this transcript} }</h4>
  </div>
  <div class="col-md-6">
    <button id="family" type="button" (click)="onDownload()"
            class="btn btn-primary">Download them as a fasta file
    </button>
  </div>
  <nav aria-label="Page navigation" class="col-md-12">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link btn" (click)="rePage(page.pageIndex - 1)"
           *ngIf="page.pageIndex != 1" tabindex="-1">Previous</a>
        <a class="page-link btn disabled" (click)="rePage(page.pageIndex - 1)"
           *ngIf="page.pageIndex == 1" tabindex="-1">Previous</a>
      </li>
      <ng-container *ngFor="let position of positions">
        <li class="page-item active" *ngIf="position == page.pageIndex"><a class="page-link" (click)="rePage(position)">{{position}}</a>
        </li>
        <li class="page-item" *ngIf="position != page.pageIndex">
          <a class="page-link btn" (click)="rePage(position)">{{position}}</a>
        </li>
      </ng-container>
      <li class="page-item">
        <a class="page-link btn" (click)="rePage(page.pageIndex + 1)"
           *ngIf="page.pageIndex != page.totalPages">Next</a>
        <a class="page-link btn disabled" (click)="rePage(page.pageIndex + 1)"
           *ngIf="page.pageIndex == page.totalPages">Next</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="panel-group col-md-12">
      <div class="panel panel-default" *ngFor="let sequence of page.listOfElements">
        <div class="panel-body">
          <div class="col-md-4">
            <h4>Sequence: <a routerLink="/sequences/{{sequence.trinityId}}/{{sequence.experiment}}">{{sequence.trinityId}}</a>
            </h4>
          </div>
          <div class="col-md-8">
            <h5>Experiment: {{sequence.experiment}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
