<h2 class="">Upload data to the server</h2>
<p class="text-info">
  Files must be in fasta format (more formats will be supported later).
  <br/>The new data will be added to the server for future queries.</p>

<div>
  <h3>Select files</h3>
  <input type="file" ng2FileSelect [uploader]="uploader"/>
</div>

<div style="margin-bottom: 40px">

  <h3>Upload queue</h3>
  <p>Queue length: {{ uploader?.queue?.length }}</p>

  <table class="table">
    <thead>
    <tr>
      <th width="50%">Name</th>
      <th>Size</th>
      <th>Progress</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of uploader.queue">
      <td><strong>{{ item?.file?.name }}</strong></td>
      <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
      <td>
        <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
        </div>
      </td>
      <td class="text-center">
        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok text-success"></i></span>
        <span *ngIf="item.isUploading"><i class="glyphicon glyphicon-time text-warning"></i></span>
        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle text-warning"></i></span>
        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove text-danger"></i></span>
      </td>
      <td nowrap>
        <button type="button" class="btn btn-success btn-xs"
                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-xs"
                (click)="item.cancel()" [disabled]="!item.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-xs"
                (click)="item.remove()">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    Queue progress:
    <div class="progress" style="">
      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
  </div>

</div>
