<header class="container sttdb-header">
  <figure>
    <a href="https://www.endesaclientes.com">
      <img class="sttdb-header-img img-responsive" src="../assets/img/head.png"
           alt="sttDB header image with endesa collaborator">
    </a>
  </figure>
</header>
<div class="container white-bg" style="padding: 0;">
  <nav class="navbar sttdb-navbar">
    <div class="container">


      <div class="navbar-header pull-left">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar white-bg"></span>
          <span class="icon-bar white-bg"></span>
          <span class="icon-bar white-bg"></span>
        </button>
      </div>


      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a [routerLink]="['/welcome']" class="nav-link">Home</a></li>
          <li class="dropdown" style="display: block">
            <a href="" class="nav-link">Search</a>
            <div class="dropdown-content">
              <a class="nav-link" [routerLink]="['/search/by-id']">
                Sequences by Trinity ID
              </a>
              <a class="nav-link" [routerLink]="['/search/by-keyword']">
                Families by KeyWord
              </a>
            </div>
          </li>
          <li class="dropdown" style="display: block">
            <a href="" class="nav-link">Blast</a>
            <div class="dropdown-content">
              <a class="nav-link" href="">Blastn</a>
            </div>
          </li>
          <li><a [routerLink]="['/downloads']" class="nav-link">Downloads</a></li>
          <li><a [routerLink]="['/references']" class="nav-link">References</a></li>
          <li><a [routerLink]="['/downloads']" class="nav-link">Help</a></li>
          <li><a [routerLink]="['/downloads']" class="nav-link">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login" class="nav-link"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container white-bg" style="padding: 3%">
  <router-outlet></router-outlet>
</div>


<footer class="container text-center white-bg">
  <div id="collaborators" class="row">
    <figure class="col-sm-3">
      <a href="https://www.udl.cat">
        <img src="../assets/img/logo_udl1.jpg" alt="University of Lleida" class="footer-image">
      </a>
    </figure>
    <div class="col-sm-6 center-text">
      <p class="panel-title">Complex Genetics & Biodiversity Research</p>
      <p class="panel-title">University of Lleida - Research Institute of Lleida</p>
    </div>
    <figure class="col-sm-3">
      <a href="http://www.irblleida.org/es/">
        <img src="../assets/img/logo_IRBlleida2.png" alt="Research Institute of Lleida" class="footer-image">
      </a>
    </figure>
  </div>
</footer>
