.salmo-trutta-header {
  background: url('../assets/img/salmo-trutta-top.jpg') no-repeat;
  background-size: 30%;
  padding: 60px 80px;
  position: relative;
  background-position: center;
}

.white-bg {
  background-color: white;
}
