<div class="row fine-border-bot">
  <h2>About the project</h2>
  <p>In this website you can query, compare and view Salmo Trutta's DNA sequences and its
    properties.</p>
  <a [routerLink]="['/about']">Read more...</a>
</div>
<div class="row fine-border-bot">
  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
    <h3 class="text-primary">Sequence comparison</h3>
    <p>Compare your DNA sequences against ours using our integrated BLAST system.</p>
    <a href="#" class="text-info">More info...</a>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
    <h3 class="text-primary">Sequence families</h3>
    <p>Query our sequences by family</p>
    <a href="#" class="text-info">More info...</a>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
    <h3 class="text-primary">Statistics</h3>
    <p>View interesting statistics of Salmo-trutta's sequences DataBase</p>
    <a href="#" class="text-info">More info...</a>
  </div>
</div>
<div class="row">
  <h3 class="text-primary">Latest news</h3>

  <div class="col-lg-4 col-md-4 col-sm-6 col-12 tm-gallery-item">
    <p class="text-info">Added new sequences!!!</p>
    <p>New sequences in our database</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 tm-gallery-item">
    <p class="text-info">Awarded with Salmon-Prize</p>
    <p>This website has won the prestigious Salmon-Prize</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 tm-gallery-item">
    <p class="text-info">Awesome!</p>
    <p>The last month we received 78921 queries!!</p>
  </div>
</div>

