<div class="jumbotron">
  <h2>{{title}}</h2>
  <p>This is a Web application developed during the <b>Software Architecture 2017-18</b> course at
    the Polytechnic School of the Universitat de Lleida.</p>
  <p>Source code available from GitHub:</p>
  <ul>
    <li><a href="https://github.com/UdL-EPS-SoftArch/mypadel-client">Client</a>: Angular application consuming server API.</li>
    <li><a href="https://github.com/UdL-EPS-SoftArch/mypadel-api">Server</a>: Spring Boot application providing REST API.</li>
  </ul>
</div>
