<form class="col-md-6" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="usernameInput">Username</label>
    <input class="form-control" id="usernameInput" aria-describedby="userHelp" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="col-md-6">
  <h2>Do not have an user?</h2>
  <p>Do not worry, you can use all the services of the website.</p>
  <p>Only workers of the bio team have accounts, because of explicit features.</p>
</div>
