<h4 i18n>{ page.totalElements, plural,
  =0 {There are no sequences with this family}
  =1 {There is 1 sequence with this family}
  other { There are {{page.totalElements}} sequences with this family} }</h4>

<nav aria-label="Page navigation example" class="col-md-12">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="rePage(page.pageIndex - 1)" tabindex="-1">Previous</a>
    </li>
    <ng-container *ngFor="let position of positions">
      <li class="page-item active" *ngIf="position == page.pageIndex"><a class="page-link" (click)="rePage(position)">{{position}}</a>
      </li>
      <li class="page-item" *ngIf="position != page.pageIndex"><a class="page-link" (click)="rePage(position)">{{position}}</a>
      </li>
    </ng-container>
    <li class="page-item">
      <a class="page-link" (click)="rePage(page.pageIndex + 1)">Next</a>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let sequence of page.listOfElements">
      <div class="panel-body">
        <div class="col-md-4">
          <h4>Sequence: <a routerLink="/sequences/{{sequence.trinityId}}">{{sequence.trinityId}}</a></h4>
        </div>
        <div class="col-md-4">
          <h5>Experiment: {{sequence.experiment.name}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
