<h4 i18n>{ totalSequences, plural,
  =0 {There are no sequences with this family}
  =1 {There is 1 sequence with this family}
  other { There are {{totalSequences}} sequences with this family} }</h4>
<button id="family" type="button" (click)="onDownload()"
        class="btn btn-primary">Download them as a fasta file</button>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let sequence of sequences">
      <div class="panel-body">
        <div class="col-md-4">
          <h4>Sequence: <a routerLink="/sequences/{{sequence.trinityId}}">{{sequence.trinityId}}</a></h4>
        </div>
        <div class="col-md-4">
          <h5>Experiment: {{sequence.experiment}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
