/* You can add global styles to this file, and also import other style files */
body {
  background: url('assets/img/shelf-bg.jpg');
}

footer {
  margin-top: 20px;
}

.container .jumbotron {
  margin-bottom: 0;
  border-bottom: 1px solid #28f8ff;
  background-color: white;
}

.fine-border-bot {
  border-bottom: 1px solid #28f8ff;
  padding-bottom: 15px;
}
