<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary" routerLink="/upload/fasta"><a>Upload a fasta file</a></h3>
  <a class="text-info" routerLink="/upload/fasta">This file contains the basic info of sequences.</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary" routerLink="/upload/interpro"><a>Upload interpro file</a></h3>
  <a class="text-info" routerLink="/upload/interpro">This file contains families with their sequences related.</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary" routerLink="/upload/kegg"><a>Upload Kegg files</a></h3>
  <a class="text-info" routerLink="/upload/kegg">Kegg with its information or the term related with sequences.</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary" routerLink="/upload/go"><a>Upload GO files</a></h3>
  <a class="text-info" routerLink="/upload/go">Go with its information or the term related with sequences.</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary"><a>Delete experiment</a></h3>
  <a class="text-info">Delete information about experiments.</a>
</div>
