<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary" routerLink="/upload/fasta">Upload a fasta file</h3>
  <a class="text-info" routerLink="/upload/fasta">This file contains the basic info of sequences.</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary" routerLink="/upload/interpro">Upload interpro file</h3>
  <a class="text-info" routerLink="/upload/interpro">This file contains families with their sequences related.</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary">Upload Kegg files</h3>
  <a class="text-info">Kegg with its information or the term related with sequences.</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary">Upload GO files</h3>
  <a class="text-info">Go with its information or the term related with sequences.</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
  <h3 class="text-primary">Delete experiment</h3>
  <a class="text-info">Delete information about experiments.</a>
</div>
